#SectionHome {
  padding-top: 5rem;
  text-align: center;
  background-color: rgb(7, 7, 7);
  padding-bottom: 5rem;
}

#Section2 {
  padding-top: 5rem;
  text-align: center;
  background-color: rgb(255, 255, 255);
  padding-bottom: 5rem;
}

#Section3 {
  padding-top: 5rem;
  text-align: center;
  background-color: rgb(255, 255, 255);
  padding-bottom: 5rem;
}

#Section4 {
  padding-top: 5rem;
  text-align: center;
  background-color: rgb(255, 255, 255);
  padding-bottom: 5rem;
}

#Section5 {
  padding-top: 5rem;
  text-align: center;
  background-color: rgb(255, 255, 255);
  padding-bottom: 5rem;
}

.text_context {
  color: rgba(20, 119, 7, 0.856);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-size: 3em;
}

.description {
  color: rgb(248, 135, 7);
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 4em;
}

#image {
  border: double 4px transparent;
  border-radius: 80px;
  background-image: linear-gradient(white, white),
    radial-gradient(circle at top left, rgb(150, 149, 102));
  background-origin: border-box;
  background-clip: content-box, border-box;
  padding-bottom: 1rem;
  width: 540px;
  height: 540px;

  object-fit: contain;
}

#imagenes {
  border: double 4px transparent;
  border-radius: 80px;
  background-image: linear-gradient(white, white),
    radial-gradient(circle at top left, rgb(150, 149, 102));
  background-origin: border-box;
  background-clip: content-box, border-box;
  padding-bottom: 1rem;
  width: 600px;
  height: 600px;
  object-fit: contain;
  image-orientation: center;
}

#Menu {
  padding-top: 5rem;
  text-align: center;
  background-color: rgb(255, 255, 255);
  padding-bottom: 5rem;
}

.btn-warning {
  color: #292721;
  background-color: rgb(212, 240, 160);
  border-color: rgb(212, 240, 160);
  font-size: 250%;
}

.btn-warning:hover {
  color: #212529;
  background-color: #f0cb7c;
  border-color: #f0cb7c;
  font-size: 250%;
}

.btn-warning:focus,
.btn-warning.focus {
  box-shadow: 0 0 0 0.2rem rgba(91, 194, 194, 0.5);
}

.btn-warning.disabled,
.btn-warning:disabled {
  color: #212529;
  background-color: #7cc;
  border-color: #5bc2c2;
}

.btn-warning:not(:disabled):not(.disabled):active,
.btn-warning:not(:disabled):not(.disabled).active,
.show > .btn-warning.dropdown-toggle {
  color: #212529;
  background-color: #9cdada;
  border-color: #2e7c7c;
}

.btn-warning:not(:disabled):not(.disabled):active:focus,
.btn-warning:not(:disabled):not(.disabled).active:focus,
.show > .btn-warning.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(91, 194, 194, 0.5);
}

.btn-outline-primary {
  color: #7cc;
  background-color: transparent;
  background-image: none;
  border-color: #7cc;
}

.btn-outline-primary:hover {
  color: #222;
  background-color: #8ad3d3;
  border-color: #7cc;
}

.btn-outline-primary:focus,
.btn-outline-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(119, 204, 204, 0.5);
}

.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
  color: #7cc;
  background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
  color: #212529;
  background-color: #8ad3d3;
  border-color: #7cc;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(119, 204, 204, 0.5);
}
