#SectionHome {
  padding-top: 5rem;
  text-align: center;
  background-color: rgb(7, 7, 7);
  padding-bottom: 5rem;
}

#Section2 {
  padding-top: 5rem;
  text-align: center;
  background-color: rgb(255, 255, 255);
  padding-bottom: 5rem;
}

#Section3 {
  padding-top: 5rem;
  text-align: center;
  background-color: rgb(255, 255, 255);
  padding-bottom: 5rem;
}

#Section4 {
  padding-top: 5rem;
  text-align: center;
  background-color: rgb(255, 255, 255);
  padding-bottom: 5rem;
}

#Section5 {
  padding-top: 5rem;
  text-align: center;
  background-color: rgb(255, 255, 255);
  padding-bottom: 5rem;
}

.text_context {
  color: rgba(20, 119, 7, 0.856);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-size: 3em;
}

.description {
  color: rgb(248, 135, 7);
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 4em;
}

#image {
  border: double 4px transparent;
  border-radius: 80px;
  background-image: linear-gradient(white, white),
    radial-gradient(circle at top left, rgb(150, 149, 102));
  background-origin: border-box;
  background-clip: content-box, border-box;
  padding-bottom: 1rem;
  width: 540px;
  height: 540px;

  object-fit: contain;
}

#imagenes {
  border: double 4px transparent;
  border-radius: 80px;
  background-image: linear-gradient(white, white),
    radial-gradient(circle at top left, rgb(150, 149, 102));
  background-origin: border-box;
  background-clip: content-box, border-box;
  padding-bottom: 1rem;
  width: 600px;
  height: 600px;
  object-fit: contain;
  image-orientation: center;
}

#Menu {
  padding-top: 5rem;
  text-align: center;
  background-color: rgb(255, 255, 255);
  padding-bottom: 5rem;
}

#button {
  text-align: center;
}
